@font-face {
  font-family: "Roboto Light";
  src: url(../../public/fonts/static/Roboto-Light.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  src: url(../../public/fonts/static/Roboto-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url(../../public/fonts/static/Roboto-Medium.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: url(../../public/fonts/static/Roboto-Bold.ttf) format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  color: var(--primary-light);
  font-size: 16px;
  font-family: "Roboto Regular", sans-serif;
}

:root {
  --main-bg: #141414;
  --primary-light: #ffffff;
  --primary-dark: #0000;
  --secondary-light: #e5e5e5;
  --secondary-dark: #777777;
  --tertiary-light: #b3b3b3;
  --success-color: #46d369;
}

h1,
h2,
h3,
li,
a,
p {
  user-select: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 24px;
  font-family: "Roboto Medium", sans-serif;
}

h3 {
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Roboto Light", sans-serif;
}

p {
  line-height: 30px;
}

.large__paragraph {
  font-size: 20px;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
