.container {
  margin-top: 200px;
  padding: 0 3rem;
}
.container div {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
}

.loader__wrapper {
  display: flex;
  align-items: center;
  margin: 0 100px;
}
