.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-bg);
  z-index: 1999;
  transition: all 1s ease;
}
.navbar__on_scroll {
  background-color: inherit;
}
.navbar__left {
  display: flex;
  align-items: center;
}
.navbar__links {
  display: flex;
  gap: 15px;
  margin-left: 50px;
}
.navbar__link {
  color: var(--secondary-light);
  font-size: 14px;
}
.navbar__link:hover {
  color: var(--tertiary-light);
}
.active__link {
  font-family: "Roboto Bold", sans-serif;
  pointer-events: none;
}
.navbar__icons {
  display: flex;
  gap: 15px;
}
.navbar__icon {
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(192deg)
    brightness(109%) contrast(101%);
}
