.modal__info {
  width: 850px;
  padding-bottom: 2rem;
}

.modal__info_video {
  position: relative;
}

.modal__info_video_controls {
  position: absolute;
  bottom: 4rem;
  width: 100%;
}

.modal__info_details {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
}

.modal__info_details_left span {
  margin-right: 1rem;
}

.modal__info_details_left_vote {
  display: inline-flex;
  color: var(--success-color);
  border: solid 2px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.medium__rating {
  color: yellow;
}

.low__rating {
  color: var(--warning-color);
}

.modal__info_details_left_vote span {
  margin: 0;
}

.modal__info_details_right span {
  color: var(--secondary-dark);
}

.modal__info_details_right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 40%;
}

.modal__info_overview {
  padding: 0 3rem;
  width: 500px;
}
